# node specific
# NODE_OPTIONS=--experimental-strip-types
NODE_OPTIONS=
NODE_NO_WARNINGS=0
# project specific
TST_COMPANY_DOMAIN=
TST_ELECTRON_APP_NAME=
TST_ELECTRON_GH_RELEASE_REPO_OWNER=
TST_ELECTRON_GH_RELEASE_REPO_NAME=
TST_ELECTRON_PUBLISH=0
TST_ELECTRON_GH_RELEASE_CHANNEL=alpha
TST_ELECTRON_RELEASE_VERSION=0.0.1-alpha.1

# electron builder specific
GITHUB_RELEASE_TOKEN=
# set only when you use a private github repo to host the releases
# GH_TOKEN=
APPLE_ID=
APPLE_APP_SPECIFIC_PASSWORD=
APPLE_TEAM_ID=
CSC_KEY_PASSWORD=
CSC_LINK=
