# node specific
# NODE_OPTIONS=--experimental-strip-types
NODE_OPTIONS=
NODE_NO_WARNINGS=0

# project specific
TST_GH_RELEASE_REPO_OWNER=
TST_GH_RELEASE_REPO_NAME=
TST_ELECTRON_PUBLISH=0

# electron builder specific
GITHUB_RELEASE_TOKEN=
# set only when you use a private github repo to host the releases
# GH_TOKEN=