AUTH_JWT_ACCESS_TOKEN_SECRET=86dfcaab-dc93-426c-82f2-f3369f5ce41f
AUTH_JWT_ACCESS_TOKEN_EXPIRES_IN=15m

AUTH_JWT_REFRESH_TOKEN_SECRET=85cd5703-26fb-498f-95fb-0a443293d61f
AUTH_JWT_REFRESH_TOKEN_EXPIRES_IN=7d

ADMIN_EMAILS=admin@example.com,admin2@example.com

OAUTH_DESKTOP_PROTOCOL=ts-template
OAUTH_MOBILE_PROTOCOL=ts-template
OAUTH_WEB_PROTOCOL=https

DESKTOP_OAUTH_GOOGLE_CLIENT_ID=
DESKTOP_OAUTH_GOOGLE_CLIENT_SECRET=
DESKTOP_OAUTH_GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
DESKTOP_OAUTH_GOOGLE_REDIRECT_URL=http://localhost:3000/api/oauth/success/desktop?provider=google
DESKTOP_OAUTH_GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

MOBILE_OAUTH_GOOGLE_CLIENT_ID=
MOBILE_OAUTH_GOOGLE_CLIENT_SECRET=
MOBILE_OAUTH_GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
MOBILE_OAUTH_GOOGLE_REDIRECT_URL=http://localhost:3000/api/oauth/success/mobile?provider=google
MOBILE_OAUTH_GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

WEB_OAUTH_GOOGLE_CLIENT_ID=
WEB_OAUTH_GOOGLE_CLIENT_SECRET=
WEB_OAUTH_GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
WEB_OAUTH_GOOGLE_REDIRECT_URL=http://localhost:3000/api/oauth/success/web?provider=google
WEB_OAUTH_GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
