AUTH_JWT_ACCESS_TOKEN_SECRET=86dfcaab-dc93-426c-82f2-f3369f5ce41f
AUTH_JWT_ACCESS_TOKEN_EXPIRES_IN=15m

AUTH_JWT_REFRESH_TOKEN_SECRET=85cd5703-26fb-498f-95fb-0a443293d61f
AUTH_JWT_REFRESH_TOKEN_EXPIRES_IN=7d

ADMIN_EMAILS=admin@example.com,admin2@example.com

STRAPI_BASE_URL=http://localhost:1337/api
STRAPI_TOKEN=34f26e820a95aee45f134173fe0125a604bb76c3fc5bea180c7c67e1c9775e278864ef720080e3aeb0933e00092d69625c8ab29d9a1022aff7ff30432b37b36238bec9c82afc2f1934cdd0654e23fd8df98d82d4fc2146ef853a7a49fa57903dc4c45b03f7f18722d33f591e749925ad6232c926137eecf9db42ebd180cccffa

OAUTH_DESKTOP_PROTOCOL=ts-template
OAUTH_MOBILE_PROTOCOL=ts-template
OAUTH_WEB_PROTOCOL=https

DESKTOP_OAUTH_GOOGLE_CLIENT_ID=
DESKTOP_OAUTH_GOOGLE_CLIENT_SECRET=
DESKTOP_OAUTH_GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
DESKTOP_OAUTH_GOOGLE_REDIRECT_URL=http://localhost:3000/api/oauth/success/desktop?provider=google
DESKTOP_OAUTH_GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

MOBILE_OAUTH_GOOGLE_CLIENT_ID=
MOBILE_OAUTH_GOOGLE_CLIENT_SECRET=
MOBILE_OAUTH_GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
MOBILE_OAUTH_GOOGLE_REDIRECT_URL=http://localhost:3000/api/oauth/success/mobile?provider=google
MOBILE_OAUTH_GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token

WEB_OAUTH_GOOGLE_CLIENT_ID=
WEB_OAUTH_GOOGLE_CLIENT_SECRET=
WEB_OAUTH_GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/auth
WEB_OAUTH_GOOGLE_REDIRECT_URL=http://localhost:3000/api/oauth/success/web?provider=google
WEB_OAUTH_GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
